@import "normalize.css";
@import "swiper/css/pagination";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/scrollbar";

@import "reset";
@import "fonts";
@import "vars";
@import "grid";
@import "forms";

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 140%;
  font-size: 16px;
  font-weight: 400;

  &.active {
    overflow-y: hidden;
  }
}
::-webkit-scrollbar {
  width: 0;
}

.fp-watermark {
  display: none !important;
}

.fancybox__backdrop {
  background: #000 !important;
  opacity: 0.3 !important;
}

.section {
  &.first {
    margin-top: 100px;
  }
}

.capitalize {
  text-transform: capitalize;
}

.check-example {
  width: 200px;
}

// Swiper Pagination
.swiper-pagination {
  bottom: 32px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  display: inline-flex;
  width: auto !important;
  align-items: center;
}
.swiper-pagination-bullet {
  background: rgba($bgWhite, 1);
  width: 6px;
  height: 6px;
  border-radius: 6px;
  display: block;
}

.swiper-pagination-bullet-active {
  width: 20px;
}

// Banner Slider Arrows
.banner-arrow-prev {
  &.swiper-button-disabled {
    opacity: 0.3;
  }
}

.banner-arrow-next {
  &.swiper-button-disabled {
    opacity: 0.3;
  }
}

.banner-arrow-next,
.banner-arrow-prev {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  cursor: pointer;
}

.banner-arrow-next {
  right: 48px;
}

.banner-arrow-prev {
  left: 48px;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  display: none;
  bottom: 0 !important;
  width: 100% !important;
  height: 1px !important;
}

.swiper-scrollbar-drag {
  background: $bgBlack !important;
}

@media screen and (max-width: 1200px) {
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    display: block;
  }
  .banner-arrow-next {
    right: 16px;
  }

  .banner-arrow-prev {
    left: 16px;
  }
}

@media screen and (max-width: 768px) {
  .swiper-pagination {
    bottom: 16px !important;
  }
  .banner-arrow-next {
    display: none;
  }

  .banner-arrow-prev {
    display: none;
  }
}
